body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  padding-bottom: 70px; /* tránh bị che bởi thanh nav dưới */
}

.container {
  padding: 1rem;
  height: 500px;
  left: 0;
  right: 0;
  background-color: #bbdded;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 700px;
}

.section-title {
  font-size: 1.5rem;
  color: #1f6179;
  margin-bottom: 1rem;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.post-form input[type="text"],
.post-form textarea {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.post-form textarea {
  height: 120px;
  resize: vertical;
}

.checkin-btn{
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #00bcd4;
}

.submit-btn {
  background-color: #009688;
  color: white;
}

.back-btn {
  background-color: #ddd;
  color: #333;
}

/* Thanh điều hướng dưới */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.bottom-nav .nav-item {
  flex: 1;
  text-align: center;
  color: #999;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

.bottom-nav .nav-item i {
  font-size: 20px;
  margin-bottom: 4px;
}

.bottom-nav .nav-item.active,
.bottom-nav .nav-item:hover {
  color: #00bcd4;
}
